html {
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8bfd8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    background-color: #fff;
    border: none;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

.container {
    width: 621px;
    height: 683px;
    background-color: #fff;
    margin-left: 600px;
    margin-top: 155px;
}

.wrapper {
    display: inline-block;
    width: 600px;
    min-height: 655px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 11px;
}

.wheather-form {
    position: relative;
}

.weather-form__input {
    width: 599px;
    height: 45px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    padding-left: 16px;
    padding-right: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.weather-form__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.weather-form__btn {
    position: absolute;
    top: 10px;
    right: 21px;
}

.weather-content {
    display: flex;
}

.weather-info {
    width: 50%;
    border-right: 1px solid black;
}

.weather-favorite {
    width: 50%;
}

.weather-info-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.weather-info__degree {
    font-size: 70px;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 16px;
    display: inline-block;
}

.weather-info__image {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.weather-info__city {
    font-size: 24px;
    padding-left: 16px;
}

.weather-info__btn {
    padding-right: 16px;
}

.weather-info-addition {
    font-size: 21px;
    padding-left: 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weather-info-hours {
    padding: 32px 16px 5px 16px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.weather-info-hour__time {
    padding-bottom: 15px;
}

.weather-info-hour-inner {
    display: inline-block;
    padding-bottom: 13px;
}

.weather-info-hour__image {
    margin-left: 71px;
    width: 35px;
    height: 35px;
}

.weather-favorite-caption {
    height: 68px;
    border-bottom: 1px solid black;
}

.weather-favorite-caption__text {
    font-size: 24px;
    padding-top: 23px;
    padding-left: 18px;
}

.weather-favorite__list {
    padding-top: 35px;
    padding-left: 18px;
}

.weather-favorite__item {
    display: flex;
    justify-content: space-between;
}

.weather-favorite__city {
    display: block;
    font-size: 24px;
    line-height: 1.8;
    text-align: left;
}

.weather-favorite__delete {
    margin-right: 20px;
}